@namespace SelfAID.WebClient

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div style="text-align: center; margin-bottom: 200px;">
                        <img width="900" src="https://cdn.vox-cdn.com/thumbor/bLcMIc6r1murhxrw90Q_nkg4z_k=/0x0:3831x1587/1200x675/filters:focal(1835x397:2447x1009)/cdn.vox-cdn.com/uploads/chorus_image/image/70123899/4k_fellowship_movie_screencaps.com_23524.0.jpg">
                        <h1 style="margin-top: 100px;"> You shall not pass without <span style="background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); -webkit-background-clip: text; color: transparent;">JWT</span> !</h1>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Ta strona jeszcze nie istnieje :)</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
