@page "/emocje"
@using SelfAID.CommonLib.Dtos.Emotion
@using SelfAID.CommonLib.Models

@namespace SelfAID.WebClient.Pages

<PageTitle>Emocje</PageTitle>

<h1>Emocje</h1>

<p>Emocje używane w dzienniku emocji SelfAID</p>

@if (!string.IsNullOrEmpty(emotionsListMessage))
{
    <div class="alert @emotionsListClass">
    @emotionsListMessage
</div>
}

@if (emotions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <AuthorizeView>
                <th>
                    Zarządzaj
                </th>
            </AuthorizeView>

        </tr>
    </thead>
    <tbody>
        @if (emotions.Count == 0)
            {
                <tr>
                    <td colspan="3">Brak emocji</td>
                </tr>
            }
            @foreach (var emotion in emotions)
            {
                <tr>
                    <td>@emotion.Name</td>
                    <td>@emotion.Description</td>
                    <AuthorizeView>
                        <td>
                            <a href="@($"emocja/{emotion.Name}")" class="btn btn-primary">Edytuj</a>
                        </td>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<AuthorizeView>
    <NotAuthorized>
        <p style="color: red">Aby dodawać i edytować emocje musisz być zalogowany.</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <a href="@($"emocja")" class="btn btn-primary">Dodaj nową emocję</a>
</AuthorizeView>
