@page "/emocje"
@using SelfAID.CommonLib.Dtos.Emotion
@using SelfAID.CommonLib.Models

@namespace SelfAID.WebClient.Pages

<PageTitle>Emocje</PageTitle>

<h1>Emocje</h1>

<p>Emocje używane w dzienniku emocji SelfAID</p>

@if (!string.IsNullOrEmpty(emotionsListMessage))
{
    <div class="alert @emotionsListClass">
    @emotionsListMessage
</div>
}

@if (emotions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                Zarządzaj
            </th>
        </tr>
    </thead>
    <tbody>
        @if (emotions.Count == 0)
            {
                <tr>
                    <td colspan="2">Brak emocji</td>
                </tr>
            }
            @foreach (var emotion in emotions)
            {
                <tr>
                    <td>@emotion.Name</td>
                    <td>@emotion.Description</td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(() => DeleteEmotion(emotion.Name))">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="@($"emocja")" class="btn btn-primary">Dodaj nową emocję</a>

@* <h2>Dodaj emocję</h2>

@if (!string.IsNullOrEmpty(addEmotionstatusMessage))
{
    <div class="alert @addEmotionstatusClass">
    @addEmotionstatusMessage
</div>
}

<EditForm Model="@newEmotion" OnValidSubmit="@AddEmotion">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div style="margin-top: 15px;" class="form-group">
        <label for="name">Nazwa</label>
        <InputText id="name" class="form-control" @bind-Value="@newEmotion.Name" />
    </div>
    <div style="margin-top: 15px;" class="form-group">
        <label for="description">Opis</label>
        <InputText id="description" class="form-control" @bind-Value="@newEmotion.Description" />
    </div>
    <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Dodaj</button>
</EditForm> *@
